<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .container div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .container img {
        padding: 100px;
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <img src="{{ image_url }}" alt="Image from external source" />
        <h1>{{ quote }}</h1>
      </div>
      <footer>
        <h4>Repository <a href="{{ repo_url }}">{{ repo_url }}</a></h4>
      </footer>
    </div>
  </body>
</html>
